h1{
    text-align: center; 
    margin-top: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    background-color: darkslategrey;
    color: floralwhite;
    scroll-behavior: smooth;
    height: 8%;
}
a{
    padding-left: 14px;
    padding-right: 16px;
    font-weight: 800;
}