<div class="card">
    <div class="card-header" style="font-size: larger; text-align: center;"> 
        {{title}}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary"
                                (click)='toggleImage()'>
                                {{showImage? 'Hide' : 'Show'}} Image 
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let product of products'>
                        <td><img *ngIf = 'showImage'
                        [src] = 'product.imageUrl'
                        [title] = 'product.productName'
                        [style.width.px] = 'imageWidth'
                        [style.margin.px] = 'imageMargin'>
                    </td>
                    <td>{{product.productName}}</td>
                    <td>{{product.productCode}}</td>
                    <td>{{product.releaseDate}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.starRating}}</td>
                    
                    <td><a class="action-btn" (click)='EditProduct(product._id)' routerLink="/edit" >
                        <i class="material-icons">edit</i>
                    </a>
                    </td>
                    <td><a class="action-btn" (click)='RemoveProduct(product._id)'>
                        <i class="material-icons">delete</i>
                    </a>
                    </td>


                    <!-- <td (click) = "RemoveProduct()"><a>Delete</a></td> -->
                    <!-- <td><button (click)='RemoveProduct(product._id)'>Delete</button></td> -->
                    </tr>
                    <!-- <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="productItem.productId" > -->
                    <!-- <input type="hidden" name="_id1" #_id1="ngModel" [(ngModel)]="productItem.productId" > -->
                    
                </tbody>
            </table>
        </div>
    </div>
</div>