<!-- <form class="form">
    <div class="form-group">
        <label for="uname1">Username</label>
        <input type="text" [(ngModel)]="regUser.email" name="email" id="email">
    </div>
    <div class="form-group">
        <label for="pwd">Password</label>
        <input type="text" [(ngModel)]="regUser.password" name="password" id="password">
    </div>
    <button  type="button" (click)="AddUser()" class="btn btn-primary">Submit</button>

</form>

 -->




























<div class="text-center" style="padding:50px 0">
	<div class="logo" style="font-size: 50px; color: midnightblue;">Register Here</div>
	 <!-- Main Form  -->
	<div class="login-form-1">
		<form id="login-form" class="text-left">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label style="font-size: medium;"for="uname1">Username</label>
                        <input type="text" [(ngModel)]="regUser.email" name="email" id="email">
					</div>
					<div class="form-group">
						<label style="font-size: medium;"for="pwd">Password</label>
                        <input type="password" [(ngModel)]="regUser.password" name="password" id="password">
					</div>
					
				</div>
				<button  type="button" (click)="registerUser()" class="btn btn-primary">Signup</button>
			</div>
			
		</form>
	</div>
	 <!-- end:Main Form -->
</div>  